<div id="page_wrapper">
	<div id="content">
		<h1>Hey, I'm Anuroop Kuppam</h1>
		<p>This is a simple blog built using ruby on rails 4. Made this blog
		as a learning exercise.</p>
		<p>One can make posts and add comments
		to these posts. I shall improve the functionality as I progess.</p>
	</div>
</div>